apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loom-data-pvc
  namespace: loom
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loom-canon-pvc
  namespace: loom
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
